.centerHeading{
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 10px;
    font-family: "Arial", Sans-serif;
}

.postContainer{
    padding: 2px;
    margin: 10px auto;
    border-left: 8px solid rgb(186,143,112);
    color: rgb(20,56,58);
    background-color: rgb(254,209,179);
    background-size: cover;
    box-shadow: 10px 4px 5px rgb(4,100,106);
    font-family: "Papyrus", fantasy;
}

.petDescriptionBox{
    margin: inherit;
    height: 100%;
    width: 100%;
}

.petName{
    text-align: left;
    color: inherit;
    display: block;
    border-left: 4px solid rgb(186,143,112);
    margin: 3px;
}

.petDescription{
    text-align: left;
    color: inherit;
    display: block;
    border-left: 4px solid rgb(186,143,112);
    margin: 3px;
}
.petType{
    text-align: left;
    color: inherit;
    display: block;
    border-left: 4px solid rgb(186,143,112);
    margin: 3px;
}
.petBreed{
    text-align: left;
    color: inherit;
    display: block;
    border-left: 4px solid rgb(186,143,112);
    margin: 3px;
}

.petDateLost{
    text-align: left;
    color: inherit;
    display: block;
    border-left: 4px solid rgb(186,143,112);
    margin: 3px;
}

.ownerInfromation{
    text-align: left;
    color: inherit;
    display: block;
    border-left: 4px solid rgb(186,143,112);
    margin: 3px;
}

#addNewPost{
  box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.19);
  background: #ADD8E6;
}

.portrait{
    height: 350px;
    width: 100%;
    display: block;
    margin:auto;
}
.portrait img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.postContainer:hover{
  transform: scale(1.1);
}

.topline{
  background-color: rgb(4,100,106);
}

.siteLogo{

}

body{
  background-image: url("bodyBackground.jpeg");
}

.title{
  color: rgb(254,209,179);
  font-size: 100px;
  text-shadow: 5px 0px rgb(186,143,112);
  border-bottom: 8px solid rgb(186,143,112);
  margin-left: 20%;
  margin-right: 20%;
  font-weight: bold;
  position: relative;
}

/*The following code is an id modifier that allows given HTML elements to
utilize the slide animation constructed below for a 4 second animation*/
#slide{
  animation-name: slide;
  animation-duration: 4s;
  animation-timing-function: ease-out;
}

/*The following code is a CSS animation that animates using keyframes, It
slides an element down, while transforming its opacity from 0 to 1*/
@keyframes slide{
  0%{
    opacity: 0;
    top: -50px;
  }
  100%{
    opacity: 1;
    top: 0px;
  }
}
